{{ define "main" }}

<main class="w-full h-full bg-neutral-800/50 p-4 text-center">
  <section>
    <div class="right margin">
      <img src="/images/cat.gif" alt="me" />
    </div>
    <h1 class="text-lg font-bold text-center">welcome to my website</h1>
    <p class="my-2 text-center">
      hi! this website will show off the most common web security vulnerabilies
      that exist online. everything will be made easy to understand for anyone
      that wants to learn
    </p>
    <p class="my-2">
      --:::------::------------------->◇<--------------------::------:::---
    </p>
    <h2 class="text-sm font-bold text-center my-2">
      what is the owasp top 10?
    </h2>
    <p>the owasp top 10 is ...</p>
  </section>
</main>

{{ end }}
